{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "extends": [
      "standard",
      "eslint:recommended",
      "plugin:import/errors",
      "plugin:import/warnings"
  ],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "rules": {
      "constructor-super": "error",
      "quotes": [
          "error",
          "single"
      ],
      "no-alert": "error",
      "no-console": "error",
      "no-debugger": "error",
      "no-dupe-args": "error",
      "no-dupe-keys": "error",
      "no-duplicate-case": "error",
      "no-lone-blocks": 0,
      "no-var": "error",
      "no-unused-vars": 0,
      "no-underscore-dangle": 0,
      "no-unreachable": "error",
      "no-trailing-spaces": 0,
      "prefer-const": "warn",
      "semi": [
          "error",
          "always"
      ],
      "sort-imports": [
          "warn",
          {
              "ignoreCase": true,
              "ignoreMemberSort": false,
              "memberSyntaxSortOrder": [
                  "none",
                  "all",
                  "single",
                  "multiple"
              ]
          }
      ],
      "eol-last": 0
  }
}