[Unit]
After=network.target

[Service]
WorkingDirectory=/home/pi/AutoDashBackEnd/
# Run's npm node script (Web Server and the CAN Server)
ExecStart=/usr/bin/npm run init_and_start_vcan_server
# KillMode=process <--- leave killmode blank if you want node to kill itself when you manually stop the service!!
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=init_and_start_vcan_server
User=root
Group=root
Environment=NODE_ENV=development 
Environment=TYPE=development 
Environment=CHANNEL=vcan0

[Install]
WantedBy=multi-user.target
